
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "IndexHome" ? "active" : "")">
            <a asp-action="IndexHome" asp-controller="Home" class="navbar-brand">Kong Fuong<small>Coffee</small></a>
        </li>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <!-- Menu chính -->
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "IndexHome" ? "active" : "")">
                    <a asp-action="IndexHome" asp-controller="Home" class="nav-link">Home</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Menu" ? "active" : "")">
                    <a asp-action="Menu" asp-controller="Home" class="nav-link">Menu</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Service" ? "active" : "")">
                    <a asp-action="Service" asp-controller="Home" class="nav-link">Service</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Blog" ? "active" : "")">
                    <a asp-action="Blog" asp-controller="Home" class="nav-link">Blog</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">
                    <a asp-action="About" asp-controller="Home" class="nav-link">About</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Cart" class="nav-link">Cart</a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "")">
                    <a asp-action="Contact" asp-controller="Home" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Giỏ hàng và đăng nhập/đăng ký đặt ngang hàng bên ngoài menu chính -->
        <div class="navbar-nav ml-auto">
            @await Component.InvokeAsync("Cart")

            @if (User.Identity.IsAuthenticated)
            {
                <div class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active" : "")">

         
                    <a asp-action="Profile" asp-controller="KhachHang" class="nav-link">
                        Profile
                    </a>         
                </div>
            }
            else
            {
                <!-- Chưa đăng nhập -->
                <a asp-action="Login" asp-controller="KhachHang" class="nav-link">Login</a>
                <a asp-action="Register" asp-controller="KhachHang" class="nav-link">Register</a>
            }
        </div>
    </div>
</nav>
