@{
    ViewData["Title"] = "ChiTietDoAn";
    Layout = "_LayoutIndexCaPhe";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CFSM_WEB.ViewModels.ChiTietSPViewModel

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(../LayoutIndexCaPhe/images/kongfuong2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">CHI TIẾT</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>CHI TIẾT</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="@Url.Content("~/ImagesMenu/" + Model.doAn.AnhDoAn)" class="image-popup">
                    <img src="@Url.Content("~/ImagesMenu/" + Model.doAn.AnhDoAn)" class="img-fluid" style="width: 100%; height: 400px; object-fit: cover;" alt="@Model.doAn.TenDoAn">
                </a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@Model.doAn.TenDoAn</h3>
                <p class="price"><span>@Model.doAn.DonGia vnd</span></p>
                <p>@Model.doAn.MoTaDoAn</p>
                <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.doAn.MaDoAn">
                    <div class="row mt-4">
                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-secondary btn-sm rounded-circle quantity-left-minus" onclick="this.parentNode.nextElementSibling.stepDown()">
                                    <i class="icon-minus"></i>
                                </button>
                            </div>
                            <input type="number" name="quantity" class="form-control text-center" value="1" min="1" step="1">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary btn-sm rounded-circle quantity-right-plus" onclick="this.parentNode.previousElementSibling.stepUp()">
                                    <i class="icon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p><button class="btn btn-primary btn-outline-primary py-3 px-5">Add to Cart</button></p>

                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Related products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.listDoAn)
            {
                <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="#" class="img" style="background-image: url('@Url.Content("~/ImagesMenu/" + item.AnhDoAn)');"></a>
                        <div class="text text-center pt-4">
                            <h3><a asp-controller="Home" asp-action="ChiTietDoAn" asp-route-maDoAn="@item.MaDoAn">@item.TenDoAn</a></h3>
                            <p>@item.MoTaDoAn</p>
                            <p class="price"><span>@item.DonGia</span></p>
                            <p><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaDoAn" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>